
body {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

.layout {
    display: flex;
    min-height: 100vh;
  }

  header {
    color: white;
    width: 250px;
    background-color:black;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }

  aside {
    background-color: black;
    width: 30%;
    padding-left: 8px;
  }

  main {
    background-color: black;
    max-width: 800px;
    margin: 0 auto;
    flex: 1;
    padding: 2rem;
  }

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    padding: 2rem;
    border-radius: 12px;
  }

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

nav ul {
    list-style: none;
    padding: 0;
  }
nav li {
    margin-bottom: 1rem;
  }
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
  }

  article {
    padding: 3rem 2rem;
    border-bottom: 2px solid #ccc;
    margin-bottom: 0;
  }

  .multimedia {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.multimedia img,
.multimedia video {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}