* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
nav ul {
    display: flex;
}
nav li {
    margin-left: 20px;
    list-style-type: none;
    text-decoration: none;
}
nav img {
    float: left;
    margin-top: 5px;
    margin-left: 20px;
}
nav {
    height: 70px;
    line-height: 70px;
    margin-top: 0;
    display: flex;
}
nav ul li a {
    text-decoration: none;
    color: rgb(24, 47, 67);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 20px;
    background-color: rgb(59, 113, 170);
    border-radius: 100px;
}
section h1 {
    height: 40px;
    text-align: center;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(24, 47, 67);
}
section {
    border-radius: 20px;
    margin-inline: 20px;
}
section p {
    margin-inline: 30px;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 130px;
    
}
section article {
    border-radius: 20px;
    margin: 10px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: auto;
    width: 60vw;
}
aside {
    border-radius: 20px;
    margin-inline: 20px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 1000px;
    width: 30vw;
    margin-left: 0px;
}
main {
    display: flex;
    justify-content: center;
}
aside img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
aside p {
    margin-top: 10px;
}
article img {
    width: 400px;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
}
article h1 {
    margin-left: 10px;
}
article p {
    margin-left: 10px;
    margin-top: 10px;
}
article a {
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    padding: 8px 10px;
    background-color: #b3c6eb; 
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: fit-content; 
}
div button {
    margin-bottom: 20px;
}
aside a {
    color: #b3c6eb;
}
article a:hover {
    color: rgb(0, 0, 0);
    text-decoration-color: rgb(0, 0, 0);
}
p a {
    color: #b3c6eb;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  transition: color 0.3s ease;
}
p a:hover {
    color: rgb(0, 0, 0);
  text-decoration-color: rgb(0, 0, 0);
  }
div ul li a {
    color: #b3c6eb;
  text-decoration: none;
    display: block;
  padding: 6px 0;
  border-bottom: 1px solid #000000;
  font-weight: bold;
  transition: color 0.3s;
}
div ul li a:hover {
   color: rgb(0, 0, 0);
  text-decoration-color: rgb(0, 0, 0); 
}
.descripcion {
    margin-top: 1rem;
}
form {
    height: 50vh;
    align-content: center;
    text-align: center;
        border-radius: 20px;
    margin-inline: 20px;
    background-color: aliceblue;
    margin-top: 10px;
    margin-left: 30px;
}
main section article img {
         background-color: #b3c6eb; 
    padding: 10px;
    box-shadow: 0 4px 12px rgba(249, 230, 240, 0.5);
    display: inline-block;
}
main section article img:hover {
     transform: translateY(-5px);
}
footer {
        border-radius: 20px;
    margin-inline: 30px;
    margin-top: 10px;
    text-align: center;
    height: 100px;
}
@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    section article {
        width: 730px;
    }
    aside {
        width: 730px;
        margin-inline: 25px;
        height: 800px;
    }
    nav ul li a {
        line-height: 1.4;
  padding: 8px;
    }
    footer {
        width: 730px;
    }
    section {
        width: 730px;
    }
    form {
        width: 730px;
    }
}